<html>

<head>
    <title>Navbar</title>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Privacy</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Terms</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)">Account</a>
                <ul class="dropdown-items">
                    <li class="dropdown-item">
                        <a class="dropdown-link" href="login.html">Login</a>
                    </li>

                    <li class="dropdown-item">
                        <a class="dropdown-link" href="signup.html">Signup</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content-container">
        <span class="content-container-title">Threads</span>
        <ul class="content-list">
            <li class="list-item">
                <a class="list-item-title list-item-property" href="thread.html">First title</a>
                <span class="list-item-property">10 replies</span>
                <span class="list-item-property">03/03/2020</span>
            </li>

            <li class="list-item">
                <a class="list-item-title list-item-property" href="javascript:void(0)">Second thread</a>
                <span class="list-item-property">5 replies</span>
                <span class="list-item-property">12/12/2018</span>
            </li>

            <li class="list-item">
                <a class="list-item-title list-item-property" href="javascript:void(0)">another thread</a>
                <span class="list-item-property">37 replies</span>
                <span class="list-item-property">29/06/2099</span>
            </li>

            <li class="list-item">
                <a class="list-item-title list-item-property" href="javascript:void(0)">Last thread</a>
                <span class="list-item-property">24 replies</span>
                <span class="list-item-property">03/02/2017</span>
            </li>
        </ul>
    </div>

    <script src="main.js"></script>
</body>

</html>
