<html>

<head>
    <title>First title</title>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Privacy</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Terms</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)">Account</a>
                <ul class="dropdown-items">
                    <li class="dropdown-item">
                        <a class="dropdown-link" href="login.html">Login</a>
                    </li>

                    <li class="dropdown-item">
                        <a class="dropdown-link" href="signup.html">Signup</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content-container">
        <span class="content-container-title">First title</span>
        <ul class="thread-posts">
            <li class="thread-post">
                <div class="post-user">
                    <a class="post-username" href="profile.html">User 1</a>
                    <img class="post-profile-img" src="img/profile1.jpg">
                    <span class="post-date">10/10/2020</span>
                </div>
                <span class="post-contents">This is the post contents.</span>

                <div class="post-footer">
                    <a class="footer-link" href="javascript:void(0)">#1</a>
                    <a class="footer-link" href="javascript:void(0)">Reply</a>
                    <a class="footer-link" href="javascript:void(0)">Share</a>
                </div>
            </li>

            <li class="thread-post">
                <div class="post-user">
                    <a class="post-username" href="profile.html">User 1</a>
                    <img class="post-profile-img" src="img/profile1.jpg">
                    <span class="post-date">10/10/2020</span>
                </div>
                <span class="post-contents">This is another post, it is much longer than the first one. Et id deleniti
                    tempora ullam sapiente suscipit molestiae. Expedita omnis tenetur consequuntur quaerat. Impedit
                    deserunt repellendus dolores.<br><br>

                    Dolor laborum eos recusandae. Veniam omnis blanditiis autem qui. Doloribus dolore nostrum
                    exercitationem.<br><br>

                    Est tempora quo beatae earum necessitatibus ipsam. Harum totam fuga magnam ducimus enim atque
                    accusantium. Adipisci neque aut eaque non est. Ad molestias eveniet ea sint consequatur.<br>

                    Nihil quod officia adipisci autem cumque doloremque esse. Rerum repellat provident nemo officia.
                    Fugit amet maxime quia earum blanditiis quo sint sit. Aut dolorum et eos. At a dicta repellendus
                    dolorem quis nobis.<br><br>

                    Dignissimos molestias aspernatur illo minus vel nihil. Quia accusamus inventore quisquam non officia
                    ut qui sed. Nulla unde similique eos quisquam. Et earum asperiores necessitatibus sunt esse commodi
                    quod quis.
                </span>

                <div class="post-footer">
                    <a class="footer-link" href="javascript:void(0)">#2</a>
                    <a class="footer-link" href="javascript:void(0)">Reply</a>
                    <a class="footer-link" href="javascript:void(0)">Share</a>
                </div>
            </li>
        </ul>

        <form class="post-form" action="javascript:void(0)">
            <textarea class="post-input" placeholder="Post"></textarea>
            <button class="post-button" type="submit">Post</button>
        </form>
    </div>

    <script src="main.js"></script>
</body>

</html>
