@{
    ViewData["Title"] = "Admin actions";
}

<div class="content-container">
    <span class="content-container-title">Admin actions</span>
    <ul class="action-list">
        <li class="action-list-item">
            <span class="action-list-item-title">Mute user, temporarily preventing them from creating threads and replies.</span>
            <a class="action-list-item-button">Mute user</a>
        </li>
        <li class="action-list-item">
            <span class="action-list-item-title">Ban user, preventing the account from being used.</span>
            <a class="action-list-item-button">Ban user</a>
        </li>
    </ul>
</div>