@{
    ViewData["Title"] = "Comment settings";
}

<div class="content-container">
    <span class="content-container-title">Comment settings</span>
    <ul class="action-list">
        <li class="action-list-item">
            <span class="action-list-item-title">Lock comments, disabling further comments</span>
            <a class="action-list-item-button" asp-action="LockComments" asp-route-id="@ViewData["UserID"]">Lock comments</a>
        </li>
        <li class="action-list-item">
            <span class="action-list-item-title">Clear all comments</span>
            <a class="action-list-item-button" asp-action="ClearComments" asp-route-id="@ViewData["UserID"]">Clear comments</a>
        </li>
    </ul>
</div>