@model EditUserViewModel
@{
    ViewData["Title"] = "Edit profile";
}
<canvas id="canvas" style="display: none"></canvas>
<div class="variable-container main-edit-container">
    <form class="edit-form" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="edit-container">
            <h1 class="edit-container-title">Profile picture</h1>
            <div class="flex-box center-vertical">
                <img id="tempImage" style="display: none">
                <img id="profilepicture-preview" class="profile-img-edit" src="/Files/ProfileImg?id=@Model.User.UserID" alt="Profile picture">
                <div class="flex-box flex-column">
                    <input id="profilepicture-upload" class="file-upload" type="file" accept="image/jpeg,image/png" name="profilePicture" onchange="updateProfileEdit()"    >
                    <span>The uploaded image will be cropped so that it's height and width are equal.</span>
                </div>
            </div>
        </div>
        <div class="edit-container">
            <h1 class="edit-container-title">Email</h1>
            <span class="edit-container-item">Current: @Model.User.Email</span>
            <input class="edit-container-item" type="text" name="Email" placeholder="New email">
        </div>
        <div class="edit-container">
            <h1 class="edit-container-title">Password</h1>
            <input class="edit-container-item" type="text" name="password" placeholder="Password">
            <input class="edit-container-item" type="text" name="confirmPassword" placeholder="Confirm password">
        </div>
        <div class="edit-container">
            <h1 class="edit-container-title">Bio</h1>
            <p class="edit-container-bio">Current: @Model.User.Bio</p>
            <textarea class="edit-container-item" name="bio" placeholder="New bio"></textarea>
        </div>
        <button class="edit-button" type="submit">Update profile</button>
    </form>
    
    <form asp-action="Delete" method="post">
        <button class="edit-button delete-button" type="submit" asp-action="Delete">Delete account</button>
    </form>
</div>