@model User
@{
    ViewData["Title"] = "Mute user";
}

<div class="variable-container">
    <span class="login-form-title">Mute @Model.FullUsername</span>
    <form class="login-form" asp-action="SendMuteUser" method="post">
        <input type="hidden" name="id" value="@Model.UserID">
        <input class="login-input" type="text" placeholder="Mute reason" name="reason">
        <button class="reset-password-button" type="submit">Mute user</button>
    </form>
</div>