@model NotificationsViewModel
@{
    ViewData["Title"] = "Notifications";
}

<div class="content-container">
    <div class="content-container-top">
        <span class="content-container-title">Notifications</span>
    </div>
    <ul class="content-list">
        @foreach (Notification notification in Model.Notifications)
        {
            <li class="list-item">
                @if (!notification.Read)
                {
                    <span class="list-item-icon unread-notification-item"></span>
                }
                <a class="list-item-title list-item-property" asp-action="Notification" asp-route-id="@notification.NotificationID">@notification.Title</a>
                <span class="list-item-property">@notification.DateCreated.ToShortDateString()</span>
            </li>
        }
    </ul>
</div>