@model Notification
@{
    ViewData["Title"] = Model.Title; 
}

<div class="content-container">
    <div class="content-container-top">
        <span class="content-container-title">@Model.Title</span>
    </div>
    @if (Model.Content != null)
    {
        <div class="notification-item">
            <span class="notification-contents">@HtmlExtensions.ParseText(Model.Content)</span>
        </div>
    }
    <div class="notification-item-footer">
        <span class="notification-footer-item">@Model.DateCreated.ToShortDateString()</span>
    </div>
</div>
