@{
    ViewData["Title"] = "Confirm password";
}

<div class="variable-container">
    <span class="login-form-title">Confirm password</span>
    <form class="login-form" method="post">
        <input class="login-input" type="password" placeholder="Password" name="password">
        @if (ViewBag.Incorrect)
        {
            <span class="form-error">Password incorrect</span>
        }
        <button class="reset-password-button" type="submit">Confirm password</button>
    </form>
</div>