@model MessageViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="top-message">
    <h1 class="top-message-text">@Model.MessageTitle</h1>
    @if (Model.MessageContent != null)
    {
        <p class="top-message-text">@Html.RenderOutput(Model.MessageContent)</p>
    }
</div>