<div class="top-message">
    <h1 class="top-message-text">@ViewData["MessageTitle"]</h1>
    @if (ViewData["MessageContent"] != null)
    {
        <p class="top-message-text">@Html.RenderOutput((string)ViewData["MessageContent"])</p>
    }
</div>