@{
    ViewData["Title"] = "Signup";
}

<div class="variable-container">
    <span class="login-form-title">Login</span>
    <form class="login-form" action="/Signup/SendSignup" method="post">
        <input class="login-input" type="text" placeholder="Email" name="email">
        <input class="login-input" type="text" placeholder="Username" name="username">
        <input class="login-input" type="password" placeholder="Password" name="password">
        <input class="login-input" type="password" placeholder="Confirm password" name="confirm_password">
        
        @if (ViewData["error"] != null)
        {
            <span class="form-error">@ViewData["error"]</span>
        }
        
        <a class="login-link" href="/Login">Login</a>
        <button class="login-button" type="submit">Signup</button>
    </form>
</div>
