@model FormViewModel
@{
    ViewData["Title"] = "Signup";
    List<string> errors = new List<string>()
    {
        "Enter email, username and password",
        "Email not available",
        "Username not available",
        "Passwords do not match",
        "Please accept the terms and conditions and privacy policy"
    };
}

<div class="variable-container">
    <span class="login-form-title">Signup</span>
    <form class="login-form" asp-action="SendSignup" method="post">
        <input class="login-input" type="text" placeholder="Email" name="email">
        <input class="login-input" type="text" placeholder="Username" name="username">
        <input class="login-input" type="password" placeholder="Password" name="password">
        <input class="login-input" type="password" placeholder="Confirm password" name="confirmPassword">
        <label class="checkbox-label">
            <input class="checkbox" type="checkbox" name="accepted">
            <span class="checkbox-span">
                <span class="checked-span"></span>
            </span>
            <span>Accept the <a asp-controller="Home" asp-action="Terms">terms and conditions</a> and <a asp-controller="Home" asp-action="Privacy">privacy policy</a></span>
        </label>
        
        @if (Model.Error != null)
        {
            <span class="form-error">@errors[(int)Model.Error]</span>
        }
        
        <a class="login-link" asp-controller="Login">Login</a>
        <button class="login-button" type="submit">Signup</button>
    </form>
</div>
