@using SimpleForum.Models
@{
    ViewData["Title"] = "SimpleForum";
}

<div class="content-container">
    <span class="content-container-title">Threads</span>
    <ul class="content-list">
        @foreach ((Thread thread, int replies) in (IEnumerable<(Thread, int)>)ViewData["Threads"])
        {
            <li class="list-item">
                <a class="list-item-title list-item-property" href="/Thread?id=@thread.ThreadID">@thread.Title</a>
                <span class="list-item-property">@replies replies</span>
                <span class="list-item-property">@thread.DatePosted.ToShortDateString()</span>
            </li>
        }
    </ul>
    
    @if (ViewBag.PageCount != 1)
    {
        <div class="page-links">
            @if (ViewBag.Page > 1)
            {
                <a class="page-link" href="/">&lt;</a>
            }
            else if (ViewBag.Page > 2)
            {
                <a class="page-link" href="/">&lt;&lt;</a>
                <a class="page-link" href="/?page=@(ViewBag.Page - 1)">&lt;</a>
            }
            
            <p class="page-link">@ViewData["Page"]</p>
            
            @if (ViewBag.PageCount - ViewBag.Page < 2 && ViewBag.PageCount - ViewBag.Page > 0)
            {
                <a class="page-link" href="/?page=@ViewData["PageCount"]">&gt;</a>
            }
            else if (ViewBag.PageCount - ViewBag.Page > 2)
            {
                <a class="page-link" href="/?page=@(ViewBag.PageCount + 1)">&gt;</a>
                <a class="page-link" href="/?page=@ViewData["PageCount"]">&gt;&gt;</a>
            }
        </div>
    }
</div>