:root * {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  --navbar-text-primary: #b6b6b6;
  --navbar-text-secondary: #ececec;
  /* --text-primary: #5C728A; */
  --text-primary: #404E5C;
  --bg-primary: #FAFAFA;
  --bg-secondary: #E5EBF1;
  --text-primary-light: #FFFFFF;
  /* --bg-secondary: #EDF1F5; */
  --navbar-primary: #23232e;
  --navbar-secondary: #141418;
  --button-primary: 3 DB4F2;
  --error-background: #F56C6C;
}

a:focus {
  outline: none;
}


button::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-secondary)
}

textarea:focus, input:focus {
  outline: none;
}

img {
  font-size: 0 !important;
  background-color: white;
}

#navbar-header {
  position: sticky;
  top: 0;
}

.navbar {
  width: 100%;
  height: 3rem;
  background-color: var(--navbar-primary);
  top: 0;
}

.navbar-nav {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  transition: 200ms ease;
}

.nav-item:first-child {
  margin-left: 1rem;
}

.nav-item:last-child {
  margin: 0 1rem 0 0;
  text-align: right;
}

.nav-item.right-first {
  margin-left: auto
}

.nav-item:hover {
  background: var(--navbar-secondary);
}

.navi-item.icon-item {
  padding: 0 0.5rem 0 0.5rem;
}

.nav-icon {
  color: var(--text-primary-light);
  display: block;
}

.unread-notification::after {
  content: "";
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background-color: var(--error-background);
  border-radius: 75px;
  top: -1.5rem;
  left: 0.7rem;
}

.nav-link {
  display: inline-block;
  height: 100%;
  color: var(--navbar-text-primary);
  text-decoration: none;
  padding: 0 1rem 0 1rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-clicked {
  background-color: var(--navbar-secondary);
}

.dropdown-items {
  z-index: 1;
  padding: 0;
  width: 100%;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
}

.dropdown-items-visible {
  display: flex;
}

.dropdown-item {
  width: 100%;
  transition: 200ms ease;
  text-align: center;
  background-color: var(--navbar-primary);
}

.dropdown-item:last-child {
  border-radius: 0 0 10px 10px;
}

.dropdown-item:hover {
  background-color: var(--navbar-secondary);
}

.dropdown-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: var(--navbar-text-primary);
  text-decoration: none;
}

.content-container {
  width: 80vw;
  margin: 2.5rem 10vw 2.5rem 10vw;
  background: var(--bg-primary);
  border-radius: 10px;
  padding-bottom: 2rem;
}

.content-container-title-container {
  font-size: 0;
}

.content-container-title {
  display: inline-block;
  margin: 2rem 0 2rem 1rem;
  font-size: 2rem;
  color: var(--text-primary);
  vertical-align: middle;
}

.content-container-title:first-child {
  margin-left: 2rem;
}

span.content-container-title:hover {
  cursor: text;
}

i.content-container-title {
  font-size: 1.75rem;
}

.content-list {
  margin: 0 2rem 0 2rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 4rem;
  margin: 0.5rem 0 0.5rem 0;
  background-color: var(--bg-secondary);
  border-radius: 5px;
}

.list-item:first-child {
  margin-top: 0;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item-property-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0.75rem 0;
}

.list-item-property {
  font-size: 1rem;
  margin: 0.25rem 1rem;
  color: var(--text-primary);
}

.list-item-icon {
  font-size: 1rem;
  margin: 0 0 0 0.5rem;
  color: var(--text-primary);
}

.list-item-icon:first-child {
  margin-left: 1rem;
}

a.list-item-property {
  color: royalblue;
  text-decoration: none;
}

.list-item-title {
  color: royalblue;
  margin-right: auto;
}

.list-item-break {
  display: none;
}

.variable-container {
  margin: 2.5rem auto 2.5rem auto;
  background: var(--bg-primary);
  border-radius: 10px;
  padding-bottom: 2rem;
  width: min-content;
  max-width: 80vw;
}

.login-form-title {
  display: block;
  padding: 2rem 2rem 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--text-primary);
}

.login-form-title:hover {
  cursor: text;
}

.login-form {
  margin: 0 2rem 0 2rem;
  display: block;
  width: 400px;
}

.login-input {
  display: inline-block;
  width: 80%;
  margin: 0.5rem 10% 0.5rem 10%;
  border: 0;
  background: var(--bg-secondary);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: var(--text-primary);
  box-sizing: border-box;
}

.login-button {
  display: inline-block;
  width: 50%;
  margin: 1.5rem 1% 0.5rem 0;
  color: var(--text-primary-light);
  border: 0;
  padding: 1rem;
  background-color: royalblue;
  border-radius: 10px;
  line-height: 19px;
}

.login-button:hover {
  cursor: pointer;
}

.login-link {
  display: inline-block;
  width: 28%;
  margin: 1.5rem 1% 0.5rem 10%;
  color: var(--text-primary);
  border: 0;
  padding: 1rem;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  line-height: 19px;
}

.thread-posts {
  margin: 0 2rem 0 2rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.thread-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem 0 0.5rem 0;
  background-color: var(--bg-secondary);
  border-radius: 5px;
}

.post-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.post-user-property {
  margin: 0.25rem;
  color: var(--text-primary);
}

a.post-user-property {
  text-decoration: none;
  color: royalblue;
}

img.post-user-property {
  height: 100px;
  width: 100px;
  border-radius: 75px;
}

.post-username {
  display: inline-block;
  margin: 1rem auto 0 auto;
  text-align: center;
  text-decoration: none;
  color: royalblue;
  max-width: 80%;
  word-break: break-word;
}

.post-profile-img {
  display: block;
  height: 100px;
  width: 100px;
  margin: 1rem 1rem 0 1rem;
  border-radius: 75px;
}

.post-date {
  display: inline-block;
  margin: 1rem;
  text-align: center;
  color: var(--text-primary);
}

.post-date:hover {
  cursor: text;
}

.post-contents {
  padding: 1rem;
  box-sizing: border-box;
  color: var(--text-primary);
}

.post-contents:hover {
  cursor: text;
}

.post-footer {
  flex: 0 1 100%;
  margin: 0 1rem 1rem 1rem;
}

.footer-link {
  margin: 0 0.5rem 0 0.5rem;
  text-decoration: none;
  color: royalblue;
  float: right;
}

.post-form {
  margin: 1rem 2rem 0 2rem;
}

.post-form.profile-post-form {
  margin: 0 2rem 0 2rem;
}

.post-input {
  resize: none;
  color: var(--text-primary);
  width: 100%;
  background-color: var(--bg-secondary);
  border: 0;
  padding: 1rem;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  height: 10rem;
}

.form-error {
  width: 80%;
  margin: 1rem 10% 0 10%;
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  color: var(--text-primary-light);
  display: inline-block;
  background-color: var(--error-background);
}

.post-button {
  border: 0;
  padding: 1rem;
  background-color: royalblue;
  color: var(--text-primary-light);
  margin: 1rem 0 0 75%;
  border-radius: 10px;
  width: 25%;
}

.post-button:hover {
  cursor: pointer;
}

.main-profile-container {
  padding-top: 1rem;
}

.profile-container {
  width: 50vw;
  min-width: 1000px;
}

.profile-info {
  margin: 1rem 2rem 0 2rem;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-img {
  margin: 0.5rem;
  height: 50px;
  border-radius: 75px;
}

.profile-property {
  display: inline-block;
  margin: 0 1rem 0 1rem;
  color: var(--text-primary);
  line-height: 100%;
}

.profile-property:hover {
  cursor: text;
}

.profile-property:first-of-type {
  margin-right: auto;
}

.page-links {
  width: 100%;
  margin-top: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.page-link {
  color: royalblue;
  text-decoration: none;
  margin: 0.25rem;
  padding: 0.25rem;
  display: inline;
}

.thread-create-form {
  padding: 0 2rem 1rem 2rem;
}

.thread-create-input {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background: var(--bg-secondary);
  border: 0;
  border-radius: 5px;
  color: var(--text-primary);
  font-size: 1rem;
}

input.thread-create-input {
  margin-bottom: 1rem;
}

textarea.thread-create-input {
  resize: none;
  height: 10rem;
}

.content-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container-top-link {
  display: inline-block;
  color: var(--text-primary-light);
  font-size: 1.25rem;
  margin: 1rem 0.5rem 1rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  background-color: royalblue;
  vertical-align: middle;
  text-decoration: none;
  border: none;
}

form.content-container-top-link {
  padding: 0;
}

.content-container-top-link button {
  text-decoration: inherit;
  border: inherit;
  background: inherit;
  color: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
}

.content-container-top-link:hover, .content-container-top-link button:hover  {
  cursor: pointer;
}

.content-container-top-link:last-child {
  margin-right: 0;
}

.top-message {
  width: 80vw;
  margin: 2.5rem 10vw 2.5rem 10vw;
  background: var(--bg-primary);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-message-text-container {
  display: inline-block;
}

.top-message-form {
  display: inline-block;
  margin: 1rem;
}

.top-message-button {
  background-color: royalblue;
  color: var(--text-primary-light);
  border: 0;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  font-size: 1.25rem;
}

.top-message-button:hover {
  cursor: pointer;
}

.top-message-text {
  color: var(--text-primary);
  margin: 1rem;
  font-size: 1.25rem;
}

h1.top-message-text {
  font-size: 1.5rem;
}

.top-message-link {
  text-decoration: none;
  color: royalblue;
  font-size: inherit;
}

.action-list {
  margin: 0 2rem 0 2rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.action-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.action-list-item-title {
  color: var(--text-primary);
  font-size: 1.25rem;
}

.action-list-item-button {
  display: inline-block;
  text-decoration: none;
  color: var(--text-primary-light);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  background: royalblue;
}

.thread-message {
  margin: 1rem 2rem 0 2rem;
  padding: 1rem;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  text-align: center;
}

i.content-container-icon {
  margin-left: 0.125rem;
}

.markdown-link {
  font-size: inherit;
  color: royalblue;
  text-decoration: none;
}

.form-bottom-link {
  color: royalblue;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 80%;
  margin: 1rem 10% 1rem 10%;
}

.reset-password-button {
  display: block;
  width: 80%;
  margin: 1.5rem 10% 0.5rem 10%;
  color: var(--text-primary-light);
  border: 0;
  padding: 1rem;
  background-color: royalblue;
  border-radius: 10px;
  line-height: 19px;
}

.reset-password-button:hover {
  cursor: pointer;
}

.post-footer form {
  float: right;
}

button.footer-link {
  border: none;
  background: none;
  padding: 0;
}

button.footer-link:hover {
  cursor: pointer;
}

button.content-container-top-link {
  border: none;
}

button.content-container-top-link:hover {
  cursor: pointer;
}

.content-container-top-link-container form {
  display: inline-block;
}

button.action-list-item-button {
  border: 0;
}

button.action-list-item-button:hover {
  cursor: pointer;
}

.profile-info-name {
  margin: 0.5rem auto 0 auto;
  display: block;
  max-width: 125px;
  word-break: break-word;
  color: var(--text-primary);
  font-size: 1.25rem;
}

.profile-info-image {
  display: block;
  height: 125px;
  width: 125px;
  border-radius: 75px;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
}

.profile-info-section:first-child {
  text-align: center;
}

.profile-info-text {
  display: block;
  margin: 0.5rem 2rem 0 0.5rem;
  color: var(--text-primary);
}

.profile-info-section:last-child {
  text-align: right;
}

.profile-info-section {
  margin-top: 1rem;
}

.profile-bio {
  color: var(--text-primary);
  display: inline-block;
  margin: 0.5rem;
  font-size: 1.25rem;
}

.main-edit-container {
  padding-bottom: 0;
}

.edit-form {
  width: 50vw;
  min-width: 1000px;
  display: inline-block;
}

.edit-container {
  margin: 2rem;
}

h1.edit-container-title {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  color: var(--text-primary);
}

.edit-container-item {
  color: var(--text-primary);
  font-size: 1.25rem;
  margin-right: 2rem;
}

input.edit-container-item {
  display: inline;
  background-color: var(--bg-secondary);
  border: 0;
  padding: 1rem;
  border-radius: 10px;
}

.edit-container-bio {
  padding: 1rem;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  color: var(--text-primary);
  font-size: 1.25rem;
}

textarea.edit-container-item {
  display: block;
  width: 100%;
  border: 0;
  resize: none;
  padding: 1rem;
  background-color: var(--bg-secondary);
  margin: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.content-container-top-link-container {
  display: flex;
  font-size: 0;
  margin-right: 2rem;
}

.list-item-profile {
  margin: 0 0.5rem 0 1rem;
}

.list-item-profile-image {
  height: 2.5rem;
  width: 2.5rem;
  margin: auto;
  display: block;
  border-radius: 75px;
}

.edit-button {
  margin: 0 2rem 2rem 2rem;
  background-color: royalblue;
  border: 0;
  color: var(--text-primary-light);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  font-size: 1.25rem;
}

.edit-button:hover {
  cursor: pointer;
}

.user-comments {
  margin-top: 1rem;
}

.ban-text {
  display: block;
  color: var(--text-primary);
}

.ban-text.profile {
  margin-top: 1rem;
}

.ban-text.profile:last-child {
  margin-bottom: 1rem;
}

.ban-text.post {
  margin-top: 0.5rem;
}

.unread-notification-item {
  display: flex;
  align-items: center;
}

.profile-img-edit {
  height: 100px;
  border-radius: 75px;
  margin-right: 2rem;
}

.flex-box {
  display: flex;
}

.center-vertical {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.unread-notification-item::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 75px;
  background-color: var(--error-background);
}

.notification-item {
  margin: 0.5rem 2rem 0.5rem 2rem;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  overflow: auto;
}

.notification-contents {
  display: inline-block;
  margin: 1rem;
  color: var(--text-primary);
  font-size: 1.25rem;
}

.notification-item-footer {
  margin: 1rem 2rem 1rem 2rem;
  text-align: right;
}

.notification-footer-item {
  color: var(--text-primary);
  font-size: 1.25rem;
}

.deleted-post-text {
  font-size: 1.25rem;
  color: var(--text-primary);
  padding: 1rem;
  margin: auto;
}

.delete-button {
  background-color: var(--error-background);
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.toggle-menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar {
    height: 4rem;
  }
  
  .navbar-nav {
    overflow: hidden;
    flex-wrap: wrap;
    align-content: start;
  }

  .content-container {
    width: 100vw;
    margin: 0;
    padding-bottom: 1rem;
    border-radius: 0;
  }

  .small-container {
    width: initial;
    max-width: initial;
    margin: 0;
  }

  .login-form {
    width: 100vw;
    margin: 0;
  }

  .post-user {
    flex: 0 0 100%;
    flex-direction: row;
    margin: 0;
    padding: 0.5rem;
    flex-wrap: wrap;
  }
  
  img.post-user-property {
    height: 25px;
    width: 25px;
  }

  .post-contents {
    flex: 0 0 100%;
  }

  .post-button {
    width: 100%;
    margin: 1rem 0 0 0;
  }
  
  .top-message {
    margin: 0 0 1rem 0;    
    width: 100%;
    border-radius: 0;
  }
  
  h1.top-message-text {
    font-size: 1.25rem;
    margin: 0.5rem;
  }
  
  .content-list {
    margin: 1rem;
  }
  
  .content-container-title {
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .content-container-title:first-child {
    margin-left: 1rem;
  }
  
  .content-container-top-link-container {
    margin-right: 1rem;
  }
  
  .content-container-top-link {
    font-size: 1rem;
  }
  
  .list-item-break {
    display: initial;
  }
  
  .content-container-top {
    flex-wrap: wrap;
  }
  
  .thread.content-container .content-container-top-link-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  
  .thread.content-container .content-container-title-container {
    flex-basis: 100%;
  }
  
  .thread.content-container .content-container-top-link {
    margin: 0 0.25rem 1rem 0.25rem;
    flex-grow: 1;
    text-align: center;
  }
  
  .thread.content-container .content-container-top-link:first-child {
    margin-left: 1rem;
  }
  
  .thread.content-container .content-container-top-link:last-child {
    margin-right: 1rem;
  }
  
  .thread.content-container .content-container-title {
    margin: 1rem 0 1rem 1rem;
  }
  
  .thread-posts {
    margin: 0 1rem;
  }
  
  .thread-message {
    margin: 1rem 1rem 0 1rem;
  }
  
  .post-form {
    margin: 1rem 1rem 0 1rem;
  }
  
  .thread-create-form {
    padding: 0 1rem 1rem 1rem;
  }
  
  .variable-container {
    width: 100vw;
    max-width: initial;
    margin: 0;
    border-radius: 0;
  }
  
  .nav-item {
    flex-basis: 100%;
    padding: 0.5rem;
    margin: 0 1rem;
    text-align: initial;
  }
  
  .nav-link {
    box-sizing: border-box;
    width: 100%;
  }
  
  .nav-item.right-first {
    margin: 0 1rem;
  }
  
  .nav-item:last-child {
    margin: 0 1rem;
    text-align: initial;
    position: relative;
  }
  
  .toggle-menu {
    display: revert;
    width: initial;
    margin: 0 1rem 0 auto;
    flex-basis: initial;
  }
  
  .home-link {
    flex-basis: initial;
  }
  
  .navbar.open {
    height: 100vh;
  }
  
  .navbar.open .navbar-nav {
    overflow-y: scroll;
  }
  
  .navbar.open .icon-item .nav-link i {
    display: none;
  }
  
  .navbar.open .icon-item .nav-link::after {
    content: "Notifications";
  }
  
  .dropdown-clicked {
    background: initial;
  }
  
  .dropdown-items {
    position: absolute;
    top: 4rem;
    left: 0;
  }
  
  .dropdown-item {
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: initial;
  }
  
  .dropdown-link {
    padding: 0 1rem;
    margin-right: 1rem;
  }
  
  .action-list {
    margin: 0 1rem;
  }
  
  .action-list-item {
    flex-direction: column;
  }
  
  .action-list-item-title {
    margin: 0.5rem 0;
    text-align: center;
  }
  
  .action-list-item-button {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
    text-align: center;
  }
  
  .action-list-item form {
    width: 100%;
  }
  
  .profile-container {
    width: 100%;
    min-width: initial;
  }
  
  .profile-info {
    margin: 1rem 1rem 0 1rem;
    flex-direction: column;
  }
  
  .profile-info-section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-info-image {
    height: 75px;
    width: 75px;
    margin: 1rem 1rem 1rem 0;
  }
  
  .ban-text.profile {
    margin-top: 0.5rem;
  }
  
  .profile-info-section {
    text-align: center;
  }
  
  .profile-info-section:last-child {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .profile-info-text {
    margin: 1rem 0;
  }
  
  .post-form.profile-post-form {
    margin: 0 1rem 1rem 1rem;
  }
}