@model FormViewModel
@{
    ViewData["Title"] = "Reset password";
    List<string> errors = new List<string>()
    {
        "Enter an email",
        "No account found with the submitted email"
    };
}

<div class="variable-container">
    <span class="login-form-title">Reset password</span>
    <form class="login-form" asp-action="SendForgotPassword" method="post">
        <input class="login-input" type="text" placeholder="Email" name="email">
        
        @if (Model.Error != null)
        {
            <span class="form-error">@errors[(int)Model.Error]</span>
        }
        
        <button class="reset-password-button" type="submit">Reset password</button>
    </form>
</div>