@{
    ViewData["Title"] = "Reset password";
}

<div class="variable-container">
    <span class="login-form-title">Reset password</span>
    <form class="login-form" asp-action="SendForgotPassword" method="post">
        <input class="login-input" type="text" placeholder="Email" name="email">
        
        @if (ViewData["error"] != null)
        {
            <span class="form-error">@ViewData["error"]</span>
        }
        
        <button class="reset-password-button" type="submit">Reset password</button>
    </form>
</div>