@{
    ViewData["Title"] = "Login";
}

<div class="variable-container">
    <span class="login-form-title">Login</span>
    <form class="login-form" asp-action="SendLogin" method="post">
        <input class="login-input" type="text" placeholder="Username/Email" name="username">
        <input class="login-input" type="password" placeholder="Password" name="password">
        <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]">
        
        @if (ViewData["error"] != null)
        {
            <span class="form-error">@ViewData["error"]</span>
        }
        
        <a class="login-link" asp-controller="Signup">Signup</a>
        <button class="login-button" type="submit">Login</button>
        
        <a class="form-bottom-link" asp-action="ForgotPassword">Forgot password</a>
    </form>
</div>