@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    List<string> errors = new List<string>()
    {
        "Enter both username and password",
        "Username or password is incorrect"
    };
}

<div class="variable-container">
    <span class="login-form-title">Login</span>
    <form class="login-form" asp-action="SendLogin" method="post">
        <input class="login-input" type="text" placeholder="Username/Email" name="username">
        <input class="login-input" type="password" placeholder="Password" name="password">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        
        @if (Model.Error != null)
        {
            <span class="form-error">@errors[(int)Model.Error]</span>
        }
        
        <a class="login-link" asp-controller="Signup">Signup</a>
        <button class="login-button" type="submit">Login</button>
        
        <a class="form-bottom-link" asp-action="ForgotPassword">Forgot password</a>
    </form>
</div>