@{
    ViewData["Title"] = "Login";
}

<div class="variable-container">
    <span class="login-form-title">Login</span>
    <form class="login-form" action="javascript:void(0)">
        <input class="login-input" type="text" placeholder="Username/Email" name="username">
        <input class="login-input" type="password" placeholder="Password" name="password">
        <a class="login-link" href="/Signup">Signup</a>
        <button class="login-button" type="submit">Login</button>
    </form>
</div>