@{
    ViewData["Title"] = "Change password";
}

<div class="variable-container">
    <span class="login-form-title">Change password</span>
    <form class="login-form" asp-action="SendResetPassword" method="post">
        <input class="login-input" type="password" placeholder="Password" name="password">
        <input class="login-input" type="password" placeholder="Confirm password" name="confirmPassword">
        <input type="hidden" name="code" value="@ViewData["code"]">
        <input type="hidden" name="userID" value="@ViewData["userID"]">
        
        @if (ViewData["error"] != null)
        {
            <span class="form-error">@ViewData["error"]</span>
        }
        
        <button class="reset-password-button" type="submit">Change password</button>
    </form>
</div>