@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Change password";
    List<string> errors = new List<string>()
    {
        "Please enter and confirm your new password",
        "Password does not match confirm password"
    };
}

<div class="variable-container">
    <span class="login-form-title">Change password</span>
    <form class="login-form" asp-action="SendResetPassword" method="post">
        <input class="login-input" type="password" placeholder="Password" name="password">
        <input class="login-input" type="password" placeholder="Confirm password" name="confirmPassword">
        <input type="hidden" name="code" value="@Model.Code">
        <input type="hidden" name="userID" value="@Model.UserID">
        
        @if (Model.Error != null)
        {
            <span class="form-error">@errors[(int)Model.Error]</span>
        }
        
        <button class="reset-password-button" type="submit">Change password</button>
    </form>
</div>